button{
  padding: 13px 40px;
  border-radius: 25px;
  background: linear-gradient(90deg, $blue-gem 0, $cornflower-blue 100%);
  color: $primary-clear;
  text-transform: uppercase;
  font-size: $button-font-size;
  line-height: button-line-height;
  border: 1px solid $transparent;
    &:hover{
        background-color: $cornflower-blue;

    }
}
    
.cta{
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  justify-content: flex-end;
  button{
    width: 33%;
    height: 40px;
    font-size: 12px;
    padding:6px 18.5px 6.7px 18px;
    line-height: 1.5;
  }


}
