.cards {
    @include card-container;
   

}

.card {
        margin: 55px 19px;
        background-color: $primary-clear;
        height: 410px;
        width: 30%;
        box-shadow: 0 10px 20px 0 rgba(126, 118, 249, 0.16);
        border-radius: 56px;
        padding: 20px;
        &.pricing{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 373px;
            & h3{
                @include capitalize;
                text-align: center;
                margin-top: 32.5px;
                font-size: 28px;
                font-family: $lobster;
                color: $primary-grey;

            }
            & p {
                text-align: center;
                align-self: center;
                padding:auto 40px;
                
            }
            & span{
                font-weight: 600;
                text-align: center;
                font-family: $poppins;
                font-weight: bold;
                font-size: 30px ;
                color: $primary-blue;
                margin: -10px auto;
                &::before{
                    content: '$ ';
                }
            }
          
        }
        &.service {
        & img {
            display: block;
            margin: 30px auto;
        }

        & p {
            font-family: $lato !important;
            font-size: 15px;
            text-transform: initial !important;
        }

        &:nth-child(4) button {
            margin-top: 40px;
        }
    }

}