footer {
    background-image: url("/assets/img/footer.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 60vh;
    color: $primary-clear;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    & a {
        color: $primary-clear !important;
    }

    & section [brand],
    [quickLinks],
    [hours],
    [contact] {
        margin-top: 150px;
        border: 1px solid red;
        height: fit-content;
        font-family: $poppins;




        & ul li {
            color: $primary-clear; //tmp
            list-style: none;

        }

    }

    section[brand] {
        & .social-medias {


            & img:nth-child(2) {

                @include rotate;
            }

        }
    }

    section[hours] {
        width: 15vw;

        & ul {
            display: flex;
            flex-direction: column;

            & li {
                display: flex !important;
                justify-content: space-between !important;
            }
        }
    }

    section [contact] {
        & div.links{
            margin: 5vh auto;
            flex-basis: fill;
        }
        }
    }
