.hero-container .top-hero {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: relative;

    .hero-content {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        justify-content: flex-start;
        flex-basis: 30%;
        height: 30vh;

        h2 {
            @include uppercase;
            @extend h2;
            
            span {
                font-weight: 600 !important;
            }
        }

        p {
            width: 95%;
            line-height: 1.56;
            margin-bottom: 40px;
        }
    }
    .hero-image{
        flex-basis: 55%;
        img{
            width: 80%;
        }
    }




}
.mouse  {
    display: flex;
    justify-content: center;
    a{
       align-self: center;
        text-align: center;
            display: block;
            margin-top: 70px;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            box-shadow: $shadow;
            background-color:$primary-clear ;
            img{
                align-items: center;
                height: 50%;
                margin: 25px auto;
        
            }
    }
}
img.background
{
        z-index: -9;
        position: absolute;
        top: 0;
        right: 0;
        //je ne sais pas pourquoi il y a une rotation de 0.01deg sur l'image
    }
