[ourServices]{
    width: calc(100% - 320px / 2);
    margin: 15vh auto 5vh ;
    background-image:url('/assets/img/background-service.png') ;

    & .cards{
       @include card-container;

    }
    & .card.service{

    }
}