[ourServices]{
    width: calc(100% - 320px / 2);
    margin: auto;
    background-image:url('/assets/img/background-service.png') ;

    & .cards{
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        flex-wrap: wrap;

    }
    & .card.service{
        margin: 55px 19px;
        background-color: $primary-clear;
        height: 410px;
        width: 30%;
        box-shadow: 0 10px 20px 0 rgba(126, 118, 249, 0.16);
        border-radius: 56px;
        padding: 20px;
        & img{
            display: block;
            margin: 30px auto;
        }
        & p{
            font-family: $lato !important;
            font-size: 15px;
            text-transform: initial !important;
        }
        &:nth-child(4) button{
            margin-top: 40px;
        }
    }
}