[ourPrices]{
  height: 100vh;
  position: relative;
  & h2, span.tag{
      text-align: center;
      display: block;
  
    }
    & .heading{
      padding-top: 5vh;
    }
    & .background.price {
        background-color: $cornflower-two;
        opacity: 0.15;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: -9;
    }
}