
h1{
    font-size: 60px;
    color: $blue-gem;
    margin-bottom: -50px;
}
h2{

        font-family: 'Poppins', sans-serif;
        font-size: 50px;    
        font-weight: 300;
 
}
a{
    color: $primary-clear;
    font-family: $poppins;
    &:link{
        text-decoration: none;
    }

    &:hover{
        text-decoration: solid 1px red !important;
        color: red;
    }
ul li a{
    color: $primary-clear !important;
}
}
p{
    color: $waterloo-grey;
   @include capitalize; 
    
}
span{
    &.tag{
        color: $cornflower-two ;
        margin: 0 6.4px 6px 0;
        font-family: Lobster;
        font-size: 20px;
    }
}