* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

input {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.wrapper {
  position: relative; }

h1 {
  font-size: 60px;
  color: #1a129f;
  margin-bottom: -50px; }

h2, .hero-container .top-hero .hero-content h2 {
  margin-bottom: 19px;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 500;
  text-transform: capitalize; }

h3 {
  text-transform: uppercase;
  margin-bottom: 19px;
  font-family: "Poppins", sans-serif; }

a {
  color: #ffffff;
  font-family: "Poppins", sans-serif; }
  a:link {
    text-decoration: none; }
  a:hover {
    text-decoration: solid 1px red !important;
    color: red; }
  a ul li a {
    color: #ffffff !important; }

p {
  color: #7a839e;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif; }

span.tag {
  color: #7e76f9;
  margin: 0 6.4px 6px 0;
  font-family: Lobster;
  font-size: 20px; }

.container-fluid .hero-g {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60vh; }

@media (min-width: 375px) and (max-width: 768px) {
  .container-fluid .hero-g {
    justify-content: center;
    height: 110vh; }
  .container-fluid {
    position: relative; } }

.hero-container .top-hero {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: relative; }
  .hero-container .top-hero .hero-content {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: flex-start;
    flex-basis: 30%;
    height: 30vh; }
    .hero-container .top-hero .hero-content h2 {
      text-transform: uppercase; }
      .hero-container .top-hero .hero-content h2 span {
        font-weight: 600 !important; }
    .hero-container .top-hero .hero-content p {
      width: 95%;
      line-height: 1.56;
      margin-bottom: 45px; }
    .hero-container .top-hero .hero-content button {
      width: 63%;
      margin: 0px;
      padding: 18px 3px; }
  .hero-container .top-hero .hero-image {
    flex-basis: 55%; }
    .hero-container .top-hero .hero-image img {
      width: 80%; }

.mouse {
  display: flex;
  justify-content: center; }
  .mouse a {
    align-self: center;
    text-align: center;
    display: block;
    margin-top: 70px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    box-shadow: 0 10px 20px 0 rgba(126, 118, 249, 0.16);
    background-color: #ffffff; }
    .mouse a img {
      align-items: center;
      height: 50%;
      margin: 25px auto; }

img.background {
  z-index: -9;
  position: absolute;
  top: 0;
  right: 0; }

@media (min-width: 375px) and (max-width: 768px) {
  .hero-container .top-hero {
    max-width: 100%;
    flex-direction: column;
    justify-content: center; }
    .hero-container .top-hero h2, .hero-container .top-hero .hero-content h2 {
      font-size: 25px;
      text-align: center;
      color: #ffffff; }
    .hero-container .top-hero p {
      color: #ffffff;
      font-size: 15px;
      margin: auto;
      width: max-content; }
    .hero-container .top-hero .hero-image {
      display: none; }
    .hero-container .top-hero button {
      height: 56px;
      background-color: #fff !important;
      background: none;
      color: #7a839e;
      border: 1px solid #1000ff; }
      .hero-container .top-hero button:hover {
        background: linear-gradient(90deg, #1a129f 0, #6156f9 100%);
        color: #ffffff; }
  img.background {
    width: 140%; }
  .mouse {
    position: absolute;
    top: 90px;
    right: 60px; } }

aside {
  width: 20%;
  display: flex;
  flex-direction: column;
  margin-top: 73px;
  justify-content: center;
  align-items: center; }
  aside a {
    display: inline;
    margin: 21px auto; }
    aside a:last-of-type::after {
      content: "";
      position: relative;
      display: block;
      border-top: 30px solid #1a129f;
      width: 1px;
      margin: 10px auto; }

@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */ }

@media (min-width: 375px) and (max-width: 768px) {
  aside {
    display: none; } }

[who-we-are] {
  margin-top: 25vh;
  display: flex;
  justify-content: space-around;
  height: 80vh;
  width: 90%; }
  [who-we-are] h2, [who-we-are] .hero-container .top-hero .hero-content h2, .hero-container .top-hero .hero-content [who-we-are] h2 {
    font-weight: 500; }
  [who-we-are] .bg {
    width: 100%;
    height: 100%;
    z-index: -9;
    position: absolute;
    top: -100px;
    left: -5vw;
    background-image: url("/assets/img/background-we-are.png");
    background-size: contain;
    background-repeat: no-repeat; }
  [who-we-are] section {
    position: relative;
    flex-basis: 40%;
    margin-top: 50px; }
    [who-we-are] section p {
      text-transform: none;
      font-family: "Poppins", sans-serif;
      font-size: 16px;
      font-weight: lighter;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      margin-bottom: 25px; }

@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */ }

@media (min-width: 375px) and (max-width: 768px) {
  [who-we-are] {
    flex-direction: column;
    margin-top: 4vh !important;
    margin: auto;
    margin-bottom: 50vh; }
    [who-we-are] section {
      justify-content: center; }
    [who-we-are] button {
      margin-left: 55vw;
      margin-top: 15vh;
      display: block;
      width: 40% !important; } }

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; }

.card {
  margin: 55px 19px;
  background-color: #ffffff;
  height: 410px;
  width: 30%;
  box-shadow: 0 10px 20px 0 rgba(126, 118, 249, 0.16);
  border-radius: 56px;
  padding: 20px; }
  .card.pricing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 373px; }
    .card.pricing h3 {
      text-transform: capitalize;
      text-align: center;
      margin-top: 32.5px;
      font-size: 28px;
      font-family: "Lobster", sans-serif;
      color: #42495b; }
    .card.pricing p {
      text-align: center;
      align-self: center;
      padding: auto 40px; }
    .card.pricing span {
      font-weight: 600;
      text-align: center;
      font-family: "Poppins", sans-serif;
      font-weight: bold;
      font-size: 30px;
      color: #1000ff;
      margin: -10px auto; }
      .card.pricing span::before {
        content: '$ '; }
    .card.pricing button {
      margin: 40px 59.9px 0 60.6px; }
  .card.service img {
    display: block;
    margin: 30px auto; }
  .card.service p {
    font-family: "Lato", sans-serif !important;
    font-size: 15px;
    text-transform: initial !important; }
  .card.service:nth-child(4) button {
    margin-top: 40px; }

[ourServices] {
  width: calc(100% - 320px / 2);
  margin: 15vh auto 5vh;
  background-image: url("/assets/img/background-service.png"); }
  [ourServices] .cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; }

@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */ }

@media (min-width: 375px) and (max-width: 768px) {
  [ourServices] {
    width: 90%; }
    [ourServices] h2, [ourServices] .hero-container .top-hero .hero-content h2, .hero-container .top-hero .hero-content [ourServices] h2 {
      text-align-last: left; }
    [ourServices] .tag {
      text-align: left;
      display: block; }
    [ourServices] .cards {
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: center; }
      [ourServices] .cards .card {
        width: 90%; }
        [ourServices] .cards .card button {
          width: 100%; } }

[ourPrices] {
  height: 818px;
  position: relative; }
  [ourPrices] h2, [ourPrices] .hero-container .top-hero .hero-content h2, .hero-container .top-hero .hero-content [ourPrices] h2, [ourPrices] span.tag {
    text-align: center;
    display: block; }
  [ourPrices] .heading {
    padding-top: 5vh; }
  [ourPrices] .background.price {
    background-color: #7e76f9;
    opacity: 0.15;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -9; }
  [ourPrices].cards {
    margin: auto; }

@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */ }

@media (min-width: 375px) and (max-width: 768px) {
  [ourPrices] {
    height: 220vh; }
    [ourPrices] .cards {
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: center; }
      [ourPrices] .cards .card {
        width: 90%; }
        [ourPrices] .cards .card button {
          width: 100%;
          margin: 0; } }

[newsletter] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 421px; }
  [newsletter] h2, [newsletter] .hero-container .top-hero .hero-content h2, .hero-container .top-hero .hero-content [newsletter] h2 {
    text-transform: none;
    font-weight: 300;
    font-size: 32px;
    color: #42495b;
    margin-bottom: 5vh; }
    [newsletter] h2 .bold, [newsletter] .hero-container .top-hero .hero-content h2 .bold, .hero-container .top-hero .hero-content [newsletter] h2 .bold {
      font-weight: bold; }
  [newsletter] form {
    width: 50vw;
    display: flex;
    flex-direction: row; }
    [newsletter] form input {
      width: 80%;
      margin: auto;
      height: 45px;
      background-color: #f6f7fb;
      border-color: #f6f7fb 1px solid;
      border-radius: 5px;
      padding-left: 15px; }
      [newsletter] form input::placeholder {
        text-transform: capitalize;
        font-family: "Poppins", sans-serif;
        font-size: 12px;
        color: #999999; }
    [newsletter] form button {
      margin-left: 3vw; }

@media (min-width: 375px) and (max-width: 768px) {
  [newsletter] h2, [newsletter] .hero-container .top-hero .hero-content h2, .hero-container .top-hero .hero-content [newsletter] h2 {
    text-align: center; }
  [newsletter] form {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 70%; }
    [newsletter] form input {
      display: inline;
      width: 100%; }
    [newsletter] form button {
      margin-top: 3vh;
      align-self: center;
      width: 100%;
      padding: 13px 40px; } }

header {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  height: 15vh; }
  header nav {
    display: flex;
    justify-content: center;
    flex-direction: column; }
    header nav ul {
      display: flex;
      flex-direction: row;
      align-items: center; }
      header nav ul li {
        list-style: none;
        margin: auto 2rem;
        text-transform: uppercase; }

@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */ }

@media (min-width: 375px) and (max-width: 768px) {
  header a {
    align-self: center; }
    header a h1 {
      color: #ffffff;
      width: 100%;
      text-align: center;
      font-size: 22px; }
      header a h1 img {
        display: none;
        text-align: center; }
  header nav {
    display: none; } }

button.filled {
  padding: 13px 40px;
  border-radius: 25px;
  background: linear-gradient(90deg, #1a129f 0, #6156f9 100%);
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  line-height: button-line-height;
  border: 1px solid transparent; }

button:not(.filled) {
  margin: 40px 59.9px 0 60.6px;
  padding: 13px 40px;
  background-color: #ffffff;
  border: solid 1px #1000ff;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 25px;
  border-radius: 24px;
  color: #7a839e;
  font-family: "Poppins", sans-serif; }
  button:not(.filled):hover {
    background: linear-gradient(90deg, #1a129f 0, #6156f9 100%);
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px; }

.cta {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  justify-content: flex-end; }

@media (min-width: 375px) and (max-width: 768px) {
  button.filled {
    height: 5vh;
    padding: 3vh auto;
    width: 30%; } }

footer {
  background-image: url("/assets/img/footer.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 60vh;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap; }
  footer a {
    color: #ffffff !important; }
  footer section [brand],
  footer [quickLinks],
  footer [hours],
  footer [contact] {
    margin-top: 150px;
    height: fit-content;
    font-family: "Poppins", sans-serif; }
    footer section [brand] ul li,
    footer [quickLinks] ul li,
    footer [hours] ul li,
    footer [contact] ul li {
      color: #ffffff;
      list-style: none; }
  footer section[brand] span {
    font-family: "Poppins", sans-serif; }
  footer section[brand] .social-medias img:nth-child(2) {
    transform: rotate(-90deg); }
  footer section[hours] {
    width: 15vw; }
    footer section[hours] ul {
      display: flex;
      flex-direction: column; }
      footer section[hours] ul li {
        display: flex !important;
        justify-content: space-between !important; }
  footer section [contact] div.links {
    margin: 5vh auto;
    flex-basis: fill; }

@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */ }

@media (min-width: 375px) and (max-width: 768px) {
  footer {
    height: fit-content;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between; }
    footer section {
      flex-basis: 50%;
      min-width: 25vw;
      margin: 100px; }
      footer section:nth-child(1) {
        margin-top: 100vh; }
      footer section section[brand] {
        flex-basis: 100%; }
        footer section section[brand] a img {
          color: #fff; } }
