$primary-grey:           #42495b;
$secondary-grey:         #484848;
$blue-gem:               #1a129f;
$primary-blue:           #1000ff;
$cornflower-blue:        #6156f9;
$cornflower-two:         #7e76f9;
$waterloo-grey:          #7a839e;
$dusty-grey:             #999999;
$pale-grey:              #f6f7fb;
$primary-clear:          #ffffff;
$transparent :             transparent;


$container: 80%;
$button-font-size: 16px; 
$button-line-height : 25px;
$shadow :  0 10px 20px 0 rgba(126, 118, 249, 0.16);
$lobster : 'Lobster', sans-serif;
$poppins : 'Poppins', sans-serif;
$lato : 'Lato', sans-serif;